<% include ./partials/header.ejs %>
<div class="bg-zinc-900 min-h-screen md:w-[40vw] md:mx-auto">
    <div class="container mx-auto px-4 py-8">
        <button class="text-sm text-blue-500" onclick="window.history.back()"><i class="ri-arrow-left-s-line"></i> Back</button>
        <!-- Post Content -->
        <div class="bg-zinc-700 rounded-md shadow-md p-6 mb-8">
            <!-- Post Header -->
            <a href="/userprofile/<%= post.user.username%>" class="outline-none">
            <div class="flex items-center mb-4">
                <div class="w-12 h-12 rounded-full overflow-hidden mr-4">
                    <img src="<%= post.user.profileImage %>" alt="User Profile Image" class="object-cover w-full h-full">
                </div>
                <div>
                    <h2 class="text-lg font-semibold text-white"><%= post.user.username %></h2>
                    <!-- <p class="text-sm text-gray-600">@<%= post.user.username %></p> -->
                </div>
            </div>
        </a>
             <!-- Post Media -->
             <% if (post.picture) { %>
                <img src="<%= post.picture %>" alt="Post Image" class="w-full rounded-md mb-4">
            <% } else if (post.source) { %>
                <video autoplay loop controls src="<%= post.source %>" class="w-full rounded-md mb-4"></video>
            <% } %>
            <p class="text-gray-100 mb-4"><%= post.caption %></p>
        </div>
        
        <!-- Comments Section -->
        <div class="bg-zinc-700 rounded-md shadow-md p-6">
            <!-- Comment Form -->
            <% if (post.picture) { %>
                <form action="/createcomment/<%= post._id %>" method="post" class="mb-6">
                    <input type="text" name="comment" placeholder="Add a comment..." class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none mb-5 focus:border-blue-500">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2 focus:outline-none focus:bg-blue-600">comment</button>
                </form>
            <% } else if (post.source) { %>
                <form action="/commentreel/<%= post._id %>" method="post" class="mb-6">
                    <input type="text" name="comment" placeholder="Add a comment..." class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none mb-5 focus:border-blue-500">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2 focus:outline-none focus:bg-blue-600">comment</button>
                </form>
            <% } %>
           
            <!-- Comments List -->
            <div class="space-y-4 ">
                <% post.comments.forEach(function(comment) { %>
                    <div class="flex gap-2 justify-between  items-center  hover:bg-zinc-600 rounded-xl p-3">
                     <div class="flex gap-2  items-center">
                        <div class="w-9 h-9 rounded-full overflow-hidden mr-2">
                            <img src="<%= comment.user.profileImage %>" loading="lazy" alt="Post Image" class="w-full rounded-full h-full ">
                        </div>
                        <div>
                            <a href="/userprofile/<%= comment.user.username %>"><p class="text-lg outline-none font-semibold text-white"><%= comment.user.username %></p></a>
                            <p class="text-xl text-gray-100"><%= comment.comment %></p> <!-- Assuming the comment attribute is "comment" -->
                        </div>
                     </div>
                        <a href="/like/comment/<%= comment._id %>">
                            <% if(comment.likes.indexOf(user._id) !== -1){ %>
                              <i class="ri-heart-3-fill text-red-600"></i>
                            <% }else{ %>
                              <i class="ri-heart-3-line"></i>
                            <% } %>
                          </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
