<% include ./partials/header.ejs %>
<div class="nav flex bg-white dark:bg-zinc-900 text-zinc-950 dark:text-white justify-between items-center px-4">
    <a class="text-sm text-blue-500" href="/profile"><i class="ri-arrow-left-s-line"></i> Back</a>
    <h4><%= another.username %>'s followings</h4>
    <div class="icons flex gap-5">
      <i class="text-[1.4rem] ri-menu-line"></i>
    </div>
  </div>
<div class=" min-h-screen w-full bg-white dark:bg-zinc-900 text-zinc-950 dark:text-white px-2 py-5">

    <% another.followings.forEach(function(elem){ %>
        <a href="/userprofile/<%= elem.username %>" class="outline-none">
            <div class="bg-white dark:bg-zinc-900 text-zinc-950 dark:text-white rounded-md px-3 py-3 flex items-center gap-5 mt-5">
                <div class="image w-[11vw] h-[11vw] rounded-full overflow-hidden">
                    <img src="/images/uploads/<%= elem.profileImage %>" alt="">
                </div>
                <div class="text">
                    <h3><%= elem.username %></h3>
                    <h4 class="text-xs opacity-30 leading-none"><%= elem.name %></h4>
                    <h4 class="text-xs opacity-30 leading-none"><%= elem.email %></h4>
                </div>
            </div>            
        </a>
    <% }) %>
</div>

<% include ./partials/footer.ejs %>